[2017-10-09 15:31] adamrbennett opened #1 "Identify pull request merge builds"
I have been watching this plugin and was excited to see the v1 release, thanks! I have high hopes for this plugin and its usefulness.

I'm using the GitHub Organization plugin with automatic job creation and webhooks.

Here's my workflow:
1. Open a PR -- PR build job created and run automatically
1. Merge PR into master -- master build job run automatically

When my PR build executes, I am able to

[2017-10-13 05:17] aaronjwhiteside commented on #1
You're right, the `pullRequest` global variable is only available in Pull Requests.

I'm afraid it wouldn't make much sense to make it available for ordinary branches.

What I think you're probably looking for is some kind of trigger for when a PR is closed/merged. Technically GitHub supports this t(https://developer.github.com/v3/activity/events/types/#pullrequestevent) so it should be possible t

[2017-11-02 01:26] Wing924 opened #2 "How to check if it is pullrequest or just branch?"
I check it by:
[code]
Is there any better way to do this?

[2017-11-02 05:06] adamrbennett commented on #1
Thanks for the ideas. In the end, I just decided to use the commit hash and query the GitHub API:
[code]
I might still have a use for the PR trigger, though, and I started the initial work. If I get an opportunity to finish it, I'll submit a PR. Thanks for the help!

[2017-11-02 05:06] #1 closed

[2017-11-03 16:29] aaronjwhiteside commented on #2
[code]

This environment variable is set by the github branch source plugin.

This stackoverlow article explains how to view all the environment variables: https://stackoverflow.com/questions/41604854/environment-variable-in-jenkins-pipeline

[2017-11-03 16:29] #2 closed

[2017-12-04 19:55] displague opened #3 "pullRequest.issueComment triggers script approval errors"
[code]

[2017-12-04 19:58] displague commented on #3
I was using the wrong method..
https://github.com/jenkinsci/pipeline-github-plugin#adding-a-comment

Should have been:
[code]

[2017-12-04 19:58] #3 closed

[2017-12-21 01:16] chancez opened #5 "Whitelist getter/accessor methods"
The methods used in this function: https://github.com/jenkinsci/pipeline-github-plugin/blob/master/src/main/java/org/jenkinsci/plugins/pipeline/github/PullRequestGroovyObject.java#L92

aren't white listed, so the trigger sandbox approvals. You already expose methods to modify a PR, can the methods which are used to get the current values be whitelisted too? In particular I want to access labels. U

[2017-12-21 03:18] aaronjwhiteside commented on #5
`getLabels()` is a `private`/internal method. You can use the property style access instead...

[code]

[2017-12-21 18:43] chancez commented on #5
I used `pullRequest.labels`, which should be the same, right? Or am I still missing understanding some groovy/Java-isms?

[2017-12-21 22:35] chancez commented on #5
Using `pullRequest['labels']` throws a new security exception:

[code]

[2017-12-21 23:00] chancez commented on #5
And it seems that's explicitly black listed. See `SECURITY-538 / CVE-2017-1000095` https://jenkins.io/security/advisory/2017-07-10/

[2017-12-21 23:04] chancez commented on #5
So the plugin either needs to stop using `getProperty` so that you can return something more explicit than `Object` so that it's not immediately rejected by the security plugin (if we can return the appropriate type like a collection/list then it should be fine) or the getLabels function needs whitelisting.

[2018-01-19 06:36] aaronjwhiteside commented on #5
Thanks for the research, I've just gotten back from a long vacation and haven't had time to look into this in much detail, but it's on my list. Of course PRs are welcome!

[2018-01-23 19:29] chancez commented on #5
@aaronjwhiteside Would you be open to a PR that simply whitelists the accessor/setter methods that are public?

[2018-02-07 05:01] aaronjwhiteside commented on #5
@chancez I think that would be fine, I wonder if it's as simple as adding `@Whitelisted` to the `getProperty()`/`setProperty()` methods too.

[2018-02-07 08:19] Ramon-Balaguer opened #6 "Example of JenkinsFile"
Can you give a complete example of jenkinsfile?

[2018-02-07 17:34] chancez commented on #5
@aaronjwhiteside I don't think you can whitelist them, because they return `Object` which could be anything, which from the script security perspective is what they want to avoid in most cases.

[2018-02-23 05:28] silencev commented on #6
I need the example too, thanks!

[2018-02-23 18:13] OlivierP-VPG commented on #6
Would be very useful to have an example showing how we can get the global variables (pullRequest for example) in a declarative pipeline

[2018-02-23 20:01] Ramon-Balaguer commented on #6
±1

[2018-02-24 04:34] aaronjwhiteside commented on #6
Scripted Pipeline Example:

[code]

Declarative Pipeline Example:
[code]

[2018-02-24 11:30] Ramon-Balaguer commented on #6
[code]

[2018-02-24 19:21] Ramon-Balaguer commented on #6
Declarative Pipeline Example:
[code]

[2018-02-24 19:48] aaronjwhiteside commented on #6
@Ramon-Balaguer thanks for the fix up, I was expecting I would miss something as I don't actually use the Declarative Pipeline style myself!

[2018-02-25 23:14] Ramon-Balaguer opened #8 "GetProperty and SetProperty in WhiteList"
Can we mark this methods with "Whitelisted" to avoid problems with the sandbox?

https://github.com/jenkinsci/pipeline-github-plugin/blob/10aee3c11ddccf399856641914a1230cf90b90cf/src/main/java/org/jenkinsci/plugins/pipeline/github/PullRequestGroovyObject.java#L87

https://github.com/jenkinsci/pipeline-github-plugin/blob/10aee3c11ddccf399856641914a1230cf90b90cf/src/main/java/org/jenkinsci/plugins/p

[2018-02-25 23:17] #6 closed

[2018-02-26 05:22] aaronjwhiteside commented on #8
I have an update in the works, basically removing the getProperty/setProperty methods and using real setters and getters.

I can't simply whitelist these methods due to, https://jenkins.io/security/advisory/2017-07-10/#unsafe-methods-in-the-default-whitelist-in-script-security-plugin

[2018-02-26 16:50] Ramon-Balaguer commented on #8
ok I watting this feature.

Tank you

[2018-02-26 18:41] AlanFoster commented on #6
@aaronjwhiteside Is it possible to use the build triggers with declarative pipelines? :)
I've had no success with the read me example unfortunately:

[code]

[2018-03-01 05:56] aaronjwhiteside commented on #8
Please see https://github.com/jenkinsci/pipeline-github-plugin/pull/9 I haven't done any extensive testing on the changes yet, but I'm putting them up for review if anyone has any feedback..

[2018-03-01 05:58] aaronjwhiteside commented on #5
Please see #9 I haven't done any extensive testing on the changes yet, but I'm putting them up for review if anyone has any feedback..

[2018-03-12 22:30] chrylis opened #10 "Trigger from declarative pipeline?"
As mentioned [in this comment](https://github.com/jenkinsci/pipeline-github-plugin/issues/6#issuecomment-368604132), is there a way to register the trigger when using a declarative pipeline?

[2018-03-13 03:43] aaronjwhiteside commented on #10
Hi @chrylis I don't personally use the declarative pipeline syntax, but according to the documentation this should work.

[code]

Let me know how this works for you..

[2018-03-26 16:12] tmcnag commented on #8
+1 on this.  I have a big array being built up by basically arbitrary strings and it will be nice to be able to loop over it in this way.

[2018-04-08 23:03] #10 closed

[2018-04-08 23:03] #8 closed

[2018-04-08 23:04] #5 closed

[2018-04-08 23:25] aaronjwhiteside commented on #8
Version 2.0 has been released that includes these changes

[2018-04-08 23:25] aaronjwhiteside commented on #5
Version 2.0 has been released that includes these changes

[2018-04-11 10:59] stefan-dimitrov commented on #10
@aaronjwhiteside, It doesn't seem to work for me. I have the Jenkinsfile like that:
[code]

I've made a PR adding the `triggers` section. First build ran ok.
When I add a comment `test this please` or `retest this please` in the same PR, nothing happens - no build is triggered.

[2018-04-11 12:05] stefan-dimitrov commented on #10
I see 2 commented lines in `GitHubEventSubscriber.java`:

![screenshot from 2018-04-11 15-03-57](https://user-images.githubusercontent.com/6047637/38615517-9fb00fc6-3d99-11e8-8cfa-8d751fafd2ec.png)

Maybe these should be uncommented ?

[2018-04-12 04:12] aaronjwhiteside commented on #10
So you're correct, it currently only support `ISSUE_COMMENT`'s when I first implemented this, the limitation was due to the fact that the GitHub Plugin ignored the other events, so even if we signaled were were interested in receiving them, we still wouldn't get them.

I'm currently trying to find the class within the GitHub Plugin where this was done, maybe/hopefully this restriction has been lif

[2018-04-12 04:22] aaronjwhiteside opened #13 "Update README.md documenting access to currentBuild.rawBuild should be from a @NonCPS method"
Update `README.md` to remind people that accessing things from `currentBuild.rawBuild` most likely needs to be done from a method annotated with `@NonCPS`

As per: https://github.com/jenkinsci/pipeline-github-plugin/pull/12#pullrequestreview-110727208

[2018-04-12 04:24] aaronjwhiteside opened #14 "Correctly document CommitStatus.getStatus() as getState()"
As per: https://github.com/jenkinsci/pipeline-github-plugin/pull/9#pullrequestreview-110560691

[2018-04-12 04:27] aaronjwhiteside opened #15 "issueCommentTrigger currently only supports comments of the type ISSUE_COMMENT"
As per: https://github.com/jenkinsci/pipeline-github-plugin/issues/10#issuecomment-380428111

[2018-04-12 08:02] stefan-dimitrov commented on #10
We got it to work (without changes to jenkinsfile or the plugin) - we added the web hooks for `Issue comments` and `Pull request review comments` to our GH repo.

<img width="695" alt="gh-repo-webhoooks" src="https://user-images.githubusercontent.com/6047637/38663916-dd4dfe86-3e40-11e8-9ceb-7069a28e478c.png">

[2018-04-17 16:03] TreyLawrence opened #16 "Expose Pull Request Review Approvals"
I'd like to auto-merge pull requests when our tests pass and reviewers have approved, but the only thing exposed on the pull requests are individual review comments instead of full reviews from this endpoint:
https://developer.github.com/v3/pulls/reviews/#list-reviews-on-a-pull-request

So as of now, there's no way for me to block a pull request merge if a reviewer hasn't approved it.

[2018-04-20 12:44] juhtie01 commented on #16
I am just working with the same topic. I tried the documented `if (pullRequest.mergeable)` construct, but that does not seem to take missing approvals into account.

[2018-05-02 15:31] deiwin commented on #16
I have the same need and just opened #18 to address this. Feedback is welcome.

[2018-05-08 04:09] #13 closed

[2018-05-08 04:09] #14 closed

[2018-05-08 04:09] #16 closed

[2018-05-18 17:19] hosseinkol commented on #10
@stefan-dimitrov Are you using a declarative pipeline? Could you post a snippet of your Jenkinsfile? I've setup the web-hook per your suggestion but cannot triggers builds. Here is the begining of my pipeline block:

`pipeline {
    agent {
      label {
        label "master"
        customWorkspace "${JENKINS_HOME}/workspace/myrepo/${BRANCH_NAME}"
      }
    }
    triggers {
     issueCommentTr

[2018-05-18 18:04] jsg2021 opened #20 "Create Issue for build failures"
I'm trying to get my pipelines to create issues for failed builds... is this something that this plugin will support?

[2018-05-18 19:56] jsg2021 commented on #20
I got it working with the old plugin, but I think it would still be nice to have a 'native' alternative. :)

[2018-05-21 06:12] stefan-dimitrov commented on #10
@hosseinkol, here is a snippet from my jenkinsfile:
[code]

[2018-05-22 16:36] hosseinkol commented on #10
@stefan-dimitrov I've noticed that despite github sending issue_comment events to Jenkins & receiving a 200 response, Jenkins logs show no recorded event of type ISSUE_COMMENT. However events of type PULL_REQUEST are fine. I'm not sure whats blocking Jenkins from receiving the ISSUE_COMMENT.

[2018-05-24 03:47] aaronjwhiteside commented on #20
I don't think we'll provide this out of the box, this plugin is supposed to provide a low level programmatic interface to pull requests so that you can build "all the things" you need...

However, I think it would really be useful for everyone to have common problems/scenarios/solutions/approaches/snippets like this documented..

If you are willing to share your approach, I can add it to the `READ

[2018-05-24 21:54] jsg2021 commented on #20
I put this snippet into a finally block of my scripted pipeline:
[code]

[2018-05-24 21:54] #20 closed

[2018-06-15 09:42] manthanhd opened #21 "Reject a pull request?"
Does this plugin allow rejecting a pull request straight from jenkins file? I have a scenario where I want to reject a PR based on whether a command was success or fail.

So far I found `createStatus`. From what I understand, this is based on commit status, not necessarily PR status? Or are they one and the same? If not, how do I reject a pull request?

Thanks!

[2018-06-15 13:18] manthanhd opened #22 "NotSerializableException: ... CommitStatusGroovyObject"
Hey,

I'm running this in a pipeline and while it works for most part, I'm now seeing this error. This happens because Jenkins on occasions takes snapshots of all variables so that it can recover the pipeline in case there was a crash. At the moment I am seeing the following exception:

[code]

Can you please update the class to implement Serializable or do something so that it is serializable?

T

[2018-06-15 14:01] manthanhd commented on #22
I have currently worked around this issue by doing:
[code]

but I would appreciate this being fixed.

[2018-06-16 03:49] aaronjwhiteside commented on #21
The best way to "reject" a pull request is probably to add a comment stating why, and then change the state to closed.

https://github.com/jenkinsci/pipeline-github-plugin#closing-a-pull-request

[2018-06-20 12:07] rubensyltek opened #23 "java.lang.ClassCastException: org.codehaus.groovy.runtime.GStringImpl cannot be cast to java.lang.String"
I get this error when trying to use the createStatus method

[code]
Error:

[code]

[2018-06-21 06:03] ts-huyao opened #24 "NPE when get files from commit"
Hi,
I need to get modified files from current commit to decide if current stage worth proceeding.
[code]
Throws following exception
[code]
I tried echo $(git diff-tree --no-commit-id --name-status -r HEAD) it looks ok.
Thank you for the help.

[2018-06-24 04:29] aaronjwhiteside commented on #22
All `*GroovyObject`'s now implement `Serializable` in https://github.com/jenkinsci/pipeline-github-plugin/commit/c5b44b177e67d19cfd8544d87248bb53215cb38d

[2018-06-24 04:29] #22 closed

[2018-06-24 04:31] aaronjwhiteside commented on #21
You would use `createStatus` to report a failure in GitHub, to show the PR creator and other that there is something wrong with this particular PR, it might be a better alternative than just closing the PR.

[2018-06-24 04:58] aaronjwhiteside commented on #23
Good find! We were not dealing with `Map`s that contain Groovy `String`s..

[2018-06-24 05:12] aaronjwhiteside commented on #24
I've tried reproducing this with your exact example, and I don't get the NPE.

[2018-06-24 05:31] #23 closed

[2018-06-25 07:06] ts-huyao commented on #24
commit.dump() is as following
[code]
I believe the issue is [here](https://github.com/jenkinsci/pipeline-github-plugin/blob/a85845d0246aeb3c6d33620db59988a75cc927d6/src/main/java/org/jenkinsci/plugins/pipeline/github/CommitGroovyObject.java#L135)
[code]
I'm working on a organization repo, I'm not sure if this is related. and strangely
[code]
works

stack trace is
[code]

[2018-06-30 13:19] xsc opened #25 "Expose the underlying Github Client?"
Thanks for this plugin! It has improved our PR workflow quite a bit by allowing us to provide build feedback as comments or commit statuses.

Now, I was looking for a way to leverage Github's [Deployment API](https://developer.github.com/v3/repos/deployments/) – which might be a separate feature request (and I'm considering working on it when time allows).

However, I'm wondering if exposing this

[2018-07-04 10:28] darkrasid opened #26 "Convert Error when use removeLabel method on Declarative."
Hi.
First Thank you for developing this plugin.

I try to remove label on Declarative pipeline but it occur convert(json=> string) error.

Am I miss something?
Please, give me a hint.

My Jenkins file
[code]

And full trace
[code]

[2018-07-10 07:48] eplodn commented on #10
@stefan-dimitrov Doesn't work here either.

I've got a GitHub webhook implemented as above, I can see the deliveries.

My Jenkinsfile:

[code]

I have a log defined for `org.jenkinsci.plugins.pipeline.github.trigger.IssueCommentTrigger`, it comes up empty.

My installation is also using GHPRB plugin, it catches the issue comments; could it be that GHPRB is preventing pipeline-github from receiving

[2018-07-10 16:23] eplodn opened #27 "Declarative pipeline: PR is not detected, what am I doing wrong?"
Running locally with `mvn hpi:run`.

Added my GitHub organization, filtering repo and branch names (all my branches are filed as PRs). Set up the webhooks.

My (minimal) Jenkinsfile:

[code]

Output is:

[code]

Do I have to do anything to make the plugin recognize the PR?

[2018-07-10 16:23] eplodn opened #28 "Please disregard."
My bad, all works as expected.

[2018-07-10 16:37] #27 closed

[2018-07-10 17:05] #28 closed

[2018-07-10 17:06] eplodn commented on #27
My bad: The GitHub Org had "Discover Branches" and not "Discover Pull Requests" as its strategy.

[2018-07-12 08:36] eplodn opened #29 "Deleting a comment with the trigger phrase triggers the build, as if the comment was added"
Probably need to look for `{"action": "created"}` in the Github webhook POST contents.

[2018-07-13 06:01] aaronjwhiteside commented on #26
So the error is happening when the `GitHubClient` is trying to unmarshall an error response. It was expecting a json response but got something else..

[2018-07-13 06:07] aaronjwhiteside commented on #25
I think this not too bad of an idea, it should be pretty simple to do... a single getter method.

The only drawback would be that all usage of the internal GitHub client would have to happen in `@NonCPS` annotated methods

[2018-07-13 06:09] aaronjwhiteside commented on #21
@manthanhd if this answers your question? I'm going to close the PR..

[2018-07-17 08:10] xsc commented on #25
@aaronjwhiteside To address this, how about exposing GET, PUT, POST, DELETE methods with pre-bound credentials and API URL? Not as simple of a change, though.

[2018-07-19 03:44] aaronjwhiteside commented on #25
It wouldn't make much difference as those too would have to be called from `@NonCPS` methods. Because those methods don't return anything that implements `Serializable`.

I can implement the ability to expose the underlying GitHub client fairly quickly and easily. But it also doesn't completely support the entire GitHub API. I had to extend a lot of the "services" to get the functionality I needed

[2018-07-19 03:49] aaronjwhiteside opened #30 "pullRequest.createStatus Reports status to the pull request fork, not the fork being submitted to"
Copied from: https://issues.jenkins-ci.org/browse/JENKINS-52553

When a pull request from a different fork is created, all statuses get posted to the fork of the submitter, and not the target. This causes issues with the pull request, because on the Github PR page, there is seemingly no status reported by Jenkins.

My fork gshieh/my_code is trying to submit a change into TheCompany/my_code

I have

[2018-07-19 04:08] aaronjwhiteside commented on #30
So I remember this issue from early on in the plugins development, it's an issue with using forks vs creating a feature/bugfix/whatever branch in the target repository.

https://developer.github.com/v3/repos/statuses/

The GitHub statuses API is for adding statues to commits, and your commit is on your fork, not the target repository of the Pull Request. It'll be on the target repository of the Pu

[2018-07-19 11:11] xsc commented on #25
Sounds like a good approach!

[2018-07-19 20:15] dwbruhn opened #31 "addLabel API issues?"
Calling the [`addLabel` API](https://github.com/jenkinsci/pipeline-github-plugin#adding-a-label) like `pullRequest.addLabel("Common Files")` was failing with this exception:

Switching it to `addLabels` (plural) like `pullRequest.addLabels(["Common Files"] as String[])` succeeded.

Not sure what was wrong with the way I was calling `addLabel`, but the README seems to be wrong there.

[2018-07-25 14:33] manthanhd commented on #21
Hey sorry for not responding in time. What I meant was ability to "request changes" like a person would from the UI.

[2018-07-31 03:15] aaronjwhiteside commented on #31
@dwbruhn Thanks for reporting this!

[2018-08-07 13:47] maurofaccenda commented on #29
I am facing the same problem. Did anyone already took a look here?

[2018-08-16 23:31] macb opened #33 "Missing pullRequest global in build with env.CHANGE_ID present"
Given the below Jenkinsfile in a project created with the `Github Organization` plugin.
[code]

The `echo` will output the expected pull request #, however the subsequent call to `pullRequest` will fail with:
`No such property: pullRequest for class: groovy.lang.Binding`

The UI also tracks it as a pull request and PR status is updated as expected. Build is manually scheduled.

Found a related sta

[2018-08-17 20:41] chancez commented on #30
Yeah this is really unfortunate, I was hoping to use this instead of other steps for setting the PR status.

[2018-08-20 15:29] johanek opened #34 "createReviewRequests failing"
Hi there,

When I try to add review requests to a PR with code like:

```pullRequest.createReviewRequests('johanek')```

It fails so:

```hudson.remoting.ProxyException: groovy.lang.MissingMethodException: No signature of method: org.jenkinsci.plugins.pipeline.github.PullRequestGroovyObject.createReviewRequests() is applicable for argument types: (java.lang.String) values: [johanek]```

Thanks!

[2018-08-21 03:38] #33 closed

[2018-08-23 05:45] aaronjwhiteside commented on #34
This method takes a List of Strings, but I think you've found a good issue, we should overload this method to take a single String param.

In the meantime, can you try `pullRequest.createReviewRequests(['johanek'])`?

[2018-08-23 05:52] aaronjwhiteside commented on #33
@macb just wanting to check how you resolved this issue?

I also just wanted to double check that you have the `Pipeline GitHub Plugin` version 2.1 installed, which is a separate plugin to the `GitHub Pull Request Builder` plugin which is mentioned in the StackOverflow article

My first impression based on what I see here, would be that you don't have this exact plugin installed.

Anyway let me kn

[2018-08-23 08:45] johanek commented on #34
Hello,

It works fine when given a list - which is what I really wanted to do, to add multiple reviewers. I've created a PR for the README so that the example shows passing a list.

Thanks for the really useful project!

[2018-08-30 15:41] cryptk commented on #10
Any movement on this? I would love to use this trigger functionality, but as far as I can tell from this issue, it doesn't work

[2018-09-02 06:44] eplodn commented on #10
@cryptk FYI, I got it working eventually.

[2018-09-07 19:05] tjhei commented on #10
How did you get it to work? Would you mind sharing?

[2018-09-09 06:58] eplodn commented on #10
@tjhei I think that once I've got my project defined as "GitHub organization" and made sure the webhooks worked (with reverse proxy), it started working.

[2018-10-09 11:20] figaw opened #38 "Pullrequest.merge('commit message') doesn't work"
The example doesn't work:
[code]
There's no method with the signature `merge(String string)` in the `PullRequestGroovyObject.java`. At best the wrapper supports a map like the following, and sets remaining values to `null`,
[code]
but then I get an error back from the API where it doesn't support all the other values being null.. It's like the `null`-default values should instead be sth like,

[co

[2018-10-24 22:11] warmbeach opened #39 "Is it possible to query whether a label exists?"
I can see that you can set and delete labels, I would like to take action in a PR based on whether a label has been set.  Is this possible with this plugin?

[2018-11-08 15:53] danpalmer opened #41 "Cannot edit pull request"
When I try to set the body of a pull request I get the following:

[code]

It looks like internally a pull request edit is created, and then `patch`ed against the API. It seems that something in Java doesn't like this, or perhaps upstream at GitHub.

[2018-11-09 20:45] nrayapati commented on #30
Made a pull request to fix this behavior https://github.com/jenkinsci/pipeline-github-plugin/pull/42

[2018-11-09 20:59] nrayapati commented on #30
@aaronjwhiteside As soon as the PR is opened the commit becomes part of the repo to which the pull request is made, it doesn't need to be merged to change the status on that commit, now this is commit is part of the PR instead of any other branch.

[2018-11-14 14:39] danpalmer commented on #41
Ping on this, would be good to figure out whether this is affecting more users.

[2018-11-15 06:17] #30 closed

[2018-11-21 16:45] midN opened #43 "Support multiple jobs"
Are there any plans to support multiple related jobs or jobs that initiate separate build for HEAD and MERGE?

Currently this plugin chooses a random Job and triggers only one.

[2018-12-01 19:25] phibo23 opened #44 "line property of ReviewComment is always null"
I was scripting a Jenkinsfile for adding line comments to pull requests and I wanted to avoid adding the same comment multiple times. I noticed that `getLine()` of `ReviewCommentGroovyObject` always returned `null`

here is a snippet (essentially this example https://github.com/jenkinsci/pipeline-github-plugin#listing-a-pull-requests-review-comments):
[code]

and here's the output:
[code]

[2018-12-06 19:21] Enteee opened #45 "pullRequest.requestedReviewers.collect() does not work"
I do think I miss the obvious here.. But, with the following in my pipeline:

[code]

I get:
[code]
and then
[code]

[2018-12-10 06:45] mleenhardt commented on #10
Anybody found a way to make this work? Using Jenkins 2.150.1 and the latest plugin (2.1), I'm not able to trigger builds by posting comments. This is my jenkinsfile

[code]

[2018-12-13 17:07] dizeee commented on #39
You can get the pull request labels using `pullRequest.getLabels()` or just `pullRequest.labels`

[2018-12-14 00:46] bertjwregeer opened #46 "NullPointer trying to access commit.author"
Sample code:

[code]

The only commit on this branch/PR, and the only thing thus built:

[code]

Causes a `NullPointerException`:

[code]

[2018-12-17 18:02] danpalmer commented on #41
Ping. We'd really like to be able to add/update GitHub comments through Jenkins Pipeline, but can't currently do this.

[2018-12-21 12:20] njt1982 commented on #10
What do we need to change to make that webhook enabled by default (eg if I onboard a new repository)?

[2018-12-28 17:40] adamrbennett commented on #21
@manthanhd PR #37 will allow for this. I am using it in my workflow to reject PRs that fail code analysis. You can checkout that branch, build it manually and install the hpi file into Jenkins.

[2019-01-11 05:54] zhangyihui1 opened #47 "Pull request Connection timed out"
java.net.ConnectException: Connection timed out
	at java.net.PlainSocketImpl.socketConnect(Native Method)
	at java.net.AbstractPlainSocketImpl.doConnect(AbstractPlainSocketImpl.java:345)
	at java.net.AbstractPlainSocketImpl.connectToAddress(AbstractPlainSocketImpl.java:206)
	at java.net.AbstractPlainSocketImpl.connect(AbstractPlainSocketImpl.java:188)
	at java.net.SocksSocketImpl.connect(SocksSock

[2019-01-21 09:52] aaronjwhiteside commented on #47
This is mostly likely a connectivity issue on your side or a transient GitHub issue..

[2019-01-21 11:04] aaronjwhiteside commented on #31
Fixed in https://github.com/jenkinsci/pipeline-github-plugin/commit/f1580b2454d40eed6712ac466153211e579d7f5e

[2019-01-21 11:04] #31 closed

[2019-01-21 11:08] aaronjwhiteside commented on #34
Fixed in commit https://github.com/jenkinsci/pipeline-github-plugin/commit/8b358472be61aa92d0d46991986bbdbff464a79a

[2019-01-21 11:08] #34 closed

[2019-01-21 11:09] aaronjwhiteside commented on #38
@figaw thanks for reporting this, I'll work on a fix

[2019-01-21 11:51] danpalmer commented on #41
@aaronjwhiteside here's the relevant part from our Jenkinsfile that was not working:

[code]

As far as I can tell, this was failing to communicate with the GitHub API because the code issues a PATCH request which I seem to remember had been deprecated or something like that. Jenkins just shows a big Java stacktrace.

[2019-01-23 02:18] willysamz opened #49 "multiple issueCommentTriggers in declarative pipeline"
[code]
Is it possible to attach multiple issueCommentTriggers in a declarative pipeline? It works in a scripted pipeline but when I try to do something like this in a declarative pipeline I get an error like this:
[code]

[2019-01-24 11:47] nrayapati opened #50 "Timeline for next release"
@aaronjwhiteside Not sure if you are following comments on this pull request which is being merged already, just wondering about the timelines on the next release of this plugin.

https://github.com/jenkinsci/pipeline-github-plugin/pull/42

Thank you for all the good work on this plugin.

[2019-01-28 10:02] aaronjwhiteside commented on #44
It seems the GitHub API has changed `line` is no longer present, please use `position` instead.

I'll update the README.md.

Thanks for reporting the issue @phibo23!

[2019-01-28 10:05] aaronjwhiteside commented on #44
README.md updated in https://github.com/jenkinsci/pipeline-github-plugin/commit/141932703316a25833a4d12cbd1a9c363062e8e7

[2019-01-28 10:05] #44 closed

[2019-01-29 09:42] aaronjwhiteside commented on #46
Based in the GitHub API documentation this shouldn't be possible: https://developer.github.com/v3/pulls/#list-commits-on-a-pull-request

However I've added protections against the committer and author of a commit being `null`, so now those methods should just return `null` instead of throwing a NPE.

If you could capture the raw output from `GET /repos/:owner/:repo/pulls/:number/commits` on your r

[2019-01-29 09:44] longwave commented on #26
I have also run into this. I added an extra log recorder to Jenkins to capture `sun.net.www.protocol.http.HttpURLConnection` and here is the HTTP request and response with sensitive data redacted:

[code]

[2019-01-29 09:54] longwave commented on #26
Looks like the problem is around escaping spaces in the label name; if I try a label without spaces it works:

[code]

The 404 is expected here as the label wasn't set on the pull request.

[2019-01-29 10:00] longwave commented on #26
`searchIssues` in the parent class does this to encode the search

[code]

I imagine something similar is needed here?

[2019-01-29 10:02] aaronjwhiteside commented on #26
Thanks @longwave, I've taken a look at the Eclipse GitHub client used in the project and it seems to be inconsistent in it's approach to URL encoding, `LabelService.deleteLabel()` just appends the label passed in to the url..

[2019-01-29 10:09] aaronjwhiteside commented on #26
Fixed in https://github.com/jenkinsci/pipeline-github-plugin/commit/c03464ef0ddf1568c0c7d06aea2d36d59b41bf39

[2019-01-29 10:09] #26 closed

[2019-01-29 10:11] aaronjwhiteside commented on #41
@danpalmer could you please paste the entire stacktrace here?

[2019-01-29 10:16] aaronjwhiteside commented on #43
@midN can you please provide a sample Jenkinsfile that reproduces the problem?

[2019-01-29 11:04] longwave opened #52 "Expected BEGIN_OBJECT but was BEGIN_ARRAY after successful removeLabel()"
Following from #26, calling `pullRequest.removeLabel()` with a label that both exists on the PR and doesn't contain spaces resulted in the below exception. The label was successfully removed from the PR.

[code]

The HTTP headers look OK; I am not sure how to log the response body.

[code]

A Content-Length of 2 and the GitHub documentation suggest the response should just have been `[]` as there

[2019-01-29 14:40] midN commented on #43
@aaronjwhiteside Any Jenkinsfile will work, just make 2 separate jobs in Jenkins under same repo/webhook.

Webhook will fire both jobs in Jenkins, this plugin will fire first one it finds by the key - https://github.com/jenkinsci/pipeline-github-plugin/blob/a85845d0246aeb3c6d33620db59988a75cc927d6/src/main/java/org/jenkinsci/plugins/pipeline/github/trigger/GitHubEventSubscriber.java#L114

[2019-01-29 17:01] jujardhabarwala opened #53 "addlabel blocked by Script Security Plugin"
Below Script in Post Build Section under Multibranch Pipeline (Groovy Script)

script {
                		echo "Hello World"

		pullRequest.comment('This PR is highly illogical..')
                if (env.CHANGE_ID) {
                    pullRequest.addLabel('bug')
                }
}

Scripts not permitted to use method groovy.lang.GroovyObject invokeMethod java.lang.String java.lang.Object (org.

[2019-01-29 17:06] bertjwregeer commented on #46
@aaronjwhiteside I am going to have to try and remember what PR that would have been. December 13th is a long time ago!

Thanks for adding the extra protection.

[2019-01-30 09:44] aaronjwhiteside commented on #53
The `addLabel()` method was just recently added, the current released version of the plugin does not have the `addLabel()` method.

You'll have to wait until the next release to use the `addLabel()` method :)

[2019-01-30 09:44] #53 closed

[2019-01-31 09:33] namjitharavind opened #54 "How to check event branch is not master and its a pull request in declarative pipeline?"

[2019-02-01 23:53] rombert opened #55 "Adding a comment fails with java.io.NotSerializableException: org.jenkinsci.plugins.pipeline.github.client.ExtendedIssueService"
I am using a scripted pipeline and trying to add an issue comment to the pull request. I have even tried to make the invocation from a `@NonCPS` method, but it still fails

[code]

The failing build can be seen at https://builds.apache.org/job/Sling/job/sling-whiteboard/job/PR-25/23/  and the log is here - [console.log](https://github.com/jenkinsci/pipeline-github-plugin/files/2823724/console.log)

[2019-02-02 11:16] #54 closed

[2019-02-02 11:17] aaronjwhiteside commented on #55
What version of the plugin are you using? I believe this was fixed in the latest 2.1 release.

[2019-02-02 12:20] rombert commented on #55
@aaronjwhiteside - can I find out without asking my Jenkins admin?

[2019-02-07 09:57] rombert commented on #55
@aaronjwhiteside - we are using version 2.1 already, confirmed in https://issues.apache.org/jira/browse/INFRA-17815 .

[2019-02-13 03:02] willysamz commented on #49
Is this possible in a declarative pipeline?

[2019-02-14 06:46] Superluli opened #56 "only 1.0 is shown in Plugin Manager"
I'm using Jenkins 2.89.2 and I can't see any version available newer than 1.0
![image](https://user-images.githubusercontent.com/2186223/52768071-354e9400-2fe1-11e9-87f0-c76273887cfa.png)

[2019-02-14 13:12] barakwei commented on #55
I see the exact same failure.
[code]

So the field `issueService` in `IssueCommentGroovyObject` is not serializable (while `IssueCommentGroovyObject` is). But since the method is `@NonCPS` why does the serialization happen?

[2019-02-16 09:35] aaronjwhiteside commented on #56
version 2.1 is available, but you don't meet the minimum jenkins requirements

https://plugins.jenkins.io/pipeline-github

please upgrade jenkins to at least 2.128.

[2019-02-16 09:35] #56 closed

[2019-02-17 09:20] #52 closed

[2019-02-17 09:21] aaronjwhiteside commented on #52
thanks @longwave this should now be fixed in the next release, turns out that when you delete a label from an issue they now return the remaining labels in the delete response body.

[2019-02-17 09:25] aaronjwhiteside commented on #45
In the latest build

[code]

produces
[code]

[2019-02-17 09:25] #45 closed

[2019-02-17 09:28] aaronjwhiteside commented on #46
Closing this for now as I haven't been able to reproduce the issue on my end, if you run across it again feel free to open this issue back up!

[2019-02-17 09:28] #46 closed

[2019-02-17 09:41] #41 closed

[2019-02-17 09:41] aaronjwhiteside commented on #41
thanks @danpalmer for reporting this, this is now fixed expect a new release soon!

[2019-02-17 09:49] aaronjwhiteside commented on #24
thanks @ts-huyao, although I couldn't reproduce the issue on my end, I've added protections against there being no file modifications in a commit.

[2019-02-17 09:49] #24 closed

[2019-02-17 09:56] aaronjwhiteside commented on #43
So I'm having a little trouble following what you're doing to get this behaviour, do you have two github oranization jobs configured pointing to the same org, and thus two instances of the same job?

[2019-02-17 10:02] aaronjwhiteside commented on #49
You should use a single trigger with a pattern that matches both use cases..

[code]

Note I'm not sure here about needing to escape `/` so YMMV

And a reminder that issueCommentTrigger patterns are regexes... https://docs.oracle.com/javase/8/docs/api/java/util/regex/Pattern.html

[2019-02-17 10:02] #49 closed

[2019-02-17 10:30] aaronjwhiteside commented on #50
2.2 has been released!

[2019-02-17 10:30] #50 closed

[2019-02-17 12:56] danpalmer commented on #41
Amazing, thank you!

[2019-02-18 10:30] aaronjwhiteside commented on #55
Just an FYI that I'm working on it and it should be solved in the next release

[2019-02-18 10:46] aliasmani commented on #33
@macb  May I know How you solved this issue?. I am having Change_ID  set to NULL. The build is not seen as a PR trigger!!!

[2019-02-18 11:09] barakwei commented on #55
Thanks!
I don't think iterating causes this, but only posting comments. I managed to solve this by doing this:

[code]

instead of
[code]

[2019-02-18 11:18] rombert commented on #55
We did something similar and return the comment's id instead of the comment from a `@NonCPS` function

https://github.com/apache/sling-tooling-jenkins/blob/094ff3c11d35f2e7ad80f44aa7a31cd1f48bdfe8/vars/slingOsgiBundleBuild.groovy#L96-L100

[2019-02-18 15:56] nrayapati opened #57 "Hitting with following error when more pull requests are working simultaneously"
This is on Multi Branch pipeline, and it has credentials configured, works most of the times, but when we have more prs (Like more than 3) running in parallel we hit with this error intermittently.

I did check on the rate limits there is plenty of it.

Example Repo: https://github.com/nrayapati/testing-pr

Using the latest version: 2.2.

[code]

[2019-02-18 16:15] nrayapati commented on #50
Thank you very much @aaronjwhiteside

[2019-02-19 14:29] midN commented on #43
@aaronjwhiteside ![pic](http://i65.tinypic.com/20k39ep.png)

Enable that and your PR will fire 2 jobs, one for HEAD and one for MERGE.
Now when you add a PR Trigger from given plugin and comment/fire it, it will run a random job chosen amongst HEAD and MERGE.
If your job has a specific features to be ran in HEAD or MERGE, you will need to spam that Trigger until it randomly select the job you need

[2019-02-19 14:42] thomas-riccardi opened #58 "Expose "draft" PR property"
GitHub recently added the concept of Draft Pull Request: https://github.blog/2019-02-14-introducing-draft-pull-requests/

It seems to be a useful property to expose in this plugin, for example to early abort a build.

The value is not yet available by default in the v3 API though:
https://developer.github.com/v3/pulls/#get-a-single-pull-request

[2019-02-21 09:20] aaronjwhiteside commented on #58
Good suggestion @thomas-riccardi !

[2019-02-21 09:24] aaronjwhiteside commented on #55
I've released 2.3 which should fix this problem, please give it a test and let me know how it goes for you.

[2019-02-21 09:50] rombert commented on #55
Thanks for the fix @aaronjwhiteside ! I've asked for an upgrade of the plugin on our Jenkins instance, will let you know after that is done.

[2019-02-21 12:11] AndreaGiardini commented on #55
I can confirm that version 2.3 fixed the issue in my case

[2019-02-22 09:16] walkingpendulum commented on #33
still have this issue!

pipeline:
[code]

error:
[code]

Jenkins ver. 2.150.2
plugin version 2.3

[2019-02-22 09:24] aaronjwhiteside commented on #33
@walkingpendulum I don't see anything in this example that restricts this pipeline to PRs only, you've just got a trigger..

Please have a read of the declarative pipeline syntax from https://jenkins.io/doc/book/pipeline/syntax/#when

In that document there is a when statement that should restrict the pipeline to pull requests only

[code]

[2019-02-22 09:34] walkingpendulum commented on #33
@aaronjwhiteside thank yoy for fast reply!
actually I restrict pipeline to PR only with webhooks (only isssue comments).
I just checked and
[code]
does not work

[2019-02-22 09:58] aaronjwhiteside commented on #43
@midN thanks for reporting the issue, it should be fixed in the next release!

[2019-02-22 09:58] #43 closed

[2019-02-22 10:01] aaronjwhiteside commented on #43
2.4 has been released

[2019-02-22 10:03] aaronjwhiteside commented on #57
I'm inclined to trust the eclipse GitHub client here, that error is coming directly from GitHub.. I'm not sure what I can do to help solve this issue

[2019-02-22 14:44] midN commented on #43
@aaronjwhiteside thanks!

[2019-02-23 10:40] aaronjwhiteside commented on #29
Thanks @eplodn for reporting this issue, this is now fixed in the next release.

[2019-02-23 10:40] #29 closed

[2019-02-23 10:42] aaronjwhiteside commented on #55
This should be fixed now, if anyone still has a problem please feel free to reopen this issue.

[2019-02-23 10:42] #55 closed

[2019-02-25 13:47] rcooo commented on #33
I am also experiencing same issue
[code]

Everything (environment, projects, plugins) seems to be configured fine. Searched everywhere on internet where can be the problem and nothing has worked so far 😟

[2019-02-26 09:33] aaronjwhiteside commented on #33
[code]

This works as expected for me.

[code]

[2019-02-26 13:06] derryx commented on #33
Hi!

I have a similar problem. My build gets triggered fine by an opened PR. Neither CHANGE_ID nor the "pullRequest" object are there.

Following environment entries are there:
`
GIT_PREVIOUS_SUCCESSFUL_COMMIT=9364777d1ef887d66002abf5c6a34de0f62ac1ec
GITHUB_REPO_GIT_URL=git://github.com/...
GITHUB_PR_SOURCE_BRANCH=development
GIT_COMMIT=9364777d1ef887d66002abf5c6a34de0f62ac1ec
GITHUB_REPO_SSH_URL=

[2019-02-27 06:55] rcooo commented on #33
@aaronjwhiteside Hey! Even if I use this simple script, it's not working...
[code]
I am using latest versions of jenkins and all plugins required to be able to use this. Even tried both declarative and scripted pipelines. Neither one worked.

[2019-02-27 20:33] aaronjwhiteside commented on #33
@rcooo can you show me a full stacktrace?

@derryx It looks like you are using the https://wiki.jenkins.io/display/JENKINS/GitHub+pull+request+builder+plugin and not the GitHub Branch Source plugin https://wiki.jenkins.io/display/JENKINS/GitHub+Branch+Source+Plugin, Pipeline GitHub Plugin requires GitHub jobs to be initiated by the GitHub Branch Source Plugin.

[2019-04-01 06:36] Jiaweizdev commented on #10
I always get `Invalid trigger type "issueCommentTrigger". Valid trigger types: [upstream, cron, githubPush, pollSCM]` when I try to use
[code]
in declarative pipeline.

[2019-04-16 01:55] Elderry commented on #29
Looking forward to have this issue fixed.

[2019-04-25 17:12] thomas-riccardi commented on #58
Since 2019-03-26 it is available by default in the v3 API: https://github.blog/changelog/2019-03-26-create-a-draft-pull-request-from-the-rest-api/

[2019-05-16 12:54] staffanselander commented on #33
I think I have the same problem as the one above. I have the following pipeline.

[code]

The job executes and successfully prints "Current Pull Request ID: 1"
But then it fails on `stage('Test2')` with the following exception:

[code]

Versions:
- Debian 9.7
- Jenkins 2.177
- GitHub Branch Source Plugin 2.5.2
- Job created by the GitHub Organization folder/project type.

[2019-05-16 13:18] staffanselander commented on #33
Actually, I was fooled by the naming of the plugin name.
I didn't have the `https://plugins.jenkins.io/pipeline-github` plugin installed.

Works now!

[2019-05-21 14:45] borisivan opened #60 "pending status checks not shown"
I have a repo with a required status check. When the PR receives a new commit, that required status check is created and pending -- it might not be set to success or failed until a later time.

But when I list all status checks across all commits, I see all the status checks that are passed/failed, but I don't see the required status check which is still pending. Is that not provided by github via

[2019-05-21 15:25] borisivan opened #61 "isMergeable always returning true"
in a PR I have a pending status check. and the repo settings have branch protection with the setting: "Require status checks to pass before merging", and the status check in question is listed.

I have a test with the following code:

[code]
.... yet it's always 'true'. I even made sure the repo settings had the configuration for "Enforce all configured restrictions for administrators."

I had a w

[2019-05-23 13:48] borisivan commented on #60
Learning more about how this works -- I suspect that github doesn't have a 'required' status as an existing status. The 'required' status list is just a different set of objects per branch defining which are required, and the github UI lists them in the PR next to the actual existing statuses, but that doesn't mean those are returned by the API. I would think they should be, but it looks like that

[2019-05-23 13:49] borisivan commented on #61
learning more about how this works -- I suspect that this only takes into consideration if there is a git conflict. But if anything that prevents a PR from being merged (reviewers, required status checks, etc) are currently active for a PR.... isMergeable is still true.

Would love to see a solution somehow to really know "is it mergeable".

[2019-05-29 19:03] rpassis commented on #10
I have the same issue as @Jiaweizdev - `Invalid trigger type "issueCommentTrigger". Valid trigger types: [upstream, cron, githubPush, pollSCM]`

Is there any configuration required to enable this on the Jenkins side?

[2019-05-29 19:18] rpassis commented on #10
I had the same issue and it turns out the plugin needed to be installed 😬

[2019-05-31 12:20] JorSanders opened #62 "pullRequest global object broken when using OAuth credentials"
When using Oauth credentials to scan repositories for a GitHub organisation as documented [here](https://go.cloudbees.com/docs/plugins/github-branch-source/#_credentials). The global pullRequest object does not work.
I assume this is because there is no support for using the Github Api with OAuth token instead of username/password.

The exact same setup works when using username/password instead o

[2019-06-03 13:37] zeevMetz opened #63 "GItHub 250 commits limit"
Is there an option to to show more than 250 commits when using pullRequest.commits

`//Listing pull requests
  for(commit in pullRequest.commits){
  echo ("SHA is: ${commit.sha}")`

I know GitHub limiting the commits when opening the PullRequests tab

[2019-06-11 19:42] shivamsood commented on #10
which plugin @rpassis

[2019-06-11 20:00] rpassis commented on #10
The `pipeline-github-plugin` i.e. the plugin that is available in this repo.

[2019-08-09 18:36] #57 closed

[2019-08-09 18:37] nrayapati commented on #57
This was an issue with the rate limit.

[2019-08-12 17:50] oxygenxo opened #66 "Pipeline: GitHub plugin doesn't respect Jenkins update center proxy settings"
Pipeline: GitHub plugin doesn't use HTTP proxy settings which are set in Jenkins settings to connect to GitHub API.
As a workaround you should use JVM properties by passing them to Jenkins launch string:
[code]
or by setting them via Script Console
[code]

[2019-08-22 19:11] adrienzieba commented on #10
FYI, after installing the plugin, if your github webhook are managed by jenkins, you need to Re-register them (`Jenkins->Manage->Github->Re-register hooks for all jobs`). It will update your github webhooks to add `Issue comments` event to the list of supported events.

[2019-09-18 09:55] itninja-hue commented on #2
@namjitharavind
[code]

[2019-09-26 14:26] ponsuyambu opened #67 "Approve the Pull Request?(Not merging)"
I would like to auto-approve the PR for a specific use case. How can I do that?

[2019-10-10 16:53] phibo23 commented on #25
Did you actually work on this? I was so hopeful when I saw this issue (because experimenting with the deployment api is also what I want to do) but then your conversation ended so abruptly 😢

[2019-11-11 13:01] gideonaina commented on #2
For a multipipeline job it will be
[code]
env.BRANCH_NAME has a different value in a multipipeline job (at least for the version of plugin)

[2019-11-16 09:33] bmunozm commented on #45
I am getting the same issue than @aaronjwhiteside:
`echo "Labels: ${pullRequest.getLabels().collect()}"` is working, but calling
`echo "Labels: ${pullRequest.getRequestedReviewers().collect()}"` throws:
[code]

[2019-12-11 15:01] adamrbennett commented on #67
@ponsuyambu PR #37 will allow for approving pull requests. I am using it in my workflow to reject PRs that fail code analysis. You can checkout that branch, build it manually and install the hpi file into Jenkins.

[2020-01-02 16:58] mattnelson commented on #57
I'm seeing this as well. GitHub has a response header that indicates when the request can be retried during abuse detection. Is it desirable to update this plugin to support configuration to opt into these targeted retries?

https://developer.github.com/v3/guides/best-practices-for-integrators/#dealing-with-abuse-rate-limits

[2020-02-09 03:18] dreich-nucleus commented on #45
I'm getting the same issue.
[code]
Results in:
[code]

[2020-02-09 03:38] dreich-nucleus commented on #45
The problem is probably with this code in `pipeline-github-plugin/src/main/java/org/jenkinsci/plugins/pipeline/github/client/ExtendedPullRequestService.java`

[code]
Unlike `https://api.github.com/repos/:owner/:repo/pulls/736/comments` or reviews, this does not return an array. Instead, it returns an object that looks like this:

[code]
So, the pageIterator can't parse the response as an array of

[2020-02-12 07:27] mzamfirmade commented on #62
Hey,

I am also encountering this problem.
By any chance, did you find a fix for this ?

[2020-02-12 22:07] JorSanders commented on #62
I havent been able to fix this yet. Issue is still standing

[2020-02-20 16:22] DaveHewy opened #70 "java.io.UncheckedIOException: org.eclipse.egit.github.core.client.RequestException: Not Found (404)"
Occurs when running

[code]
The job is a github organization type job & it is failing when executed in the post build step.
I have used the same username/token manually against the api and it works just fine. Which makes me wonder if this is to do with the way the pullRequest.assignees is constructing the issue url.

Full code below.

[code]

full error

[code]

[2020-02-25 18:52] amtux commented on #2
i came here looking for a solution but got it working a little differently. using declarative syntax - you can also do:

[code]

same idea as before - checks to see `CHANGE_ID` env var is populated.

[2020-02-28 19:13] adamrbennett opened #71 "Is anyone maintaining this?"

[2020-02-28 21:43] aaronjwhiteside commented on #71
Yes, just very busy, new house, new baby, etc..

[2020-02-28 21:52] aaronjwhiteside commented on #63
We should be pulling pages down as needed when you iterate through the result, looks like a bug

[2020-02-28 21:53] aaronjwhiteside commented on #66
These properties are intended for the JVM's URLConnection and don't HAVE to be honored by anything else, however I'll take a look and see what is required to have them be applied when present.

[2020-02-28 21:53] adamrbennett commented on #71
Ok, thanks for the response. I know how disruptive babies can be, good luck.

[2020-02-28 21:53] #71 closed

[2020-02-28 21:55] aaronjwhiteside commented on #62
Seems legit, we should support other authentication styles

[2020-02-29 09:00] ababushk commented on #66
Hi @aaronjwhiteside, thanks for looking into this!
I think I wasn't precise in the issue description. What I meant is that usually plugins are using proxy settings provided in Jenkins Update Center, but Pipeline GitHub plugin uses standard Java system properties.
This was intended to help others in such situation.

[2020-03-05 13:44] aleboulanger opened #72 "Triggers only supports issue comments"
It will be useful to have the possibility to trigger a job with a dedicated issue label, like you already do with the issue comments.

In order to declare something like

[code]

https://github.com/jenkinsci/pipeline-github-plugin#triggers

[2020-03-27 20:25] brittanystoroz opened #74 "Multiple jobs from issueComment trigger not working"
This is really bizarre. I saw [this issue](https://github.com/jenkinsci/pipeline-github-plugin/issues/43) was resolved in 2.4. I am now running 2.5 but still seeing this issue under one circumstance.

I added some pipeline code that works great, it kicks off a PR-head and PR-merge build when someone adds a comment to a PR that says 'jenkins rebuild':

[code]

I wanted to add another comment trigge

[2020-04-13 16:58] WebDmitryPetrov opened #76 "Don't Connect to GitHub"
I can't start the pipeline.I click on the Connect button and GitHub doesn't load,nothing happens
![photo_2020-04-13_19-57-49](https://user-images.githubusercontent.com/57726095/79140721-1607ee00-7dc1-11ea-9881-6444ebc1bf18.jpg)

[2020-04-21 09:35] prakashul opened #78 "Add instructions to install this plugin"
Hey folks,
I cant figure out how to install this plugin? The plugin is not listed in jenkins [download centre](https://updates.jenkins-ci.org/download/plugins/).

Any help would be appreciated!

[2020-04-21 17:12] bpoland commented on #78
Search for pipeline-github in the available plugins list.  It shows up as "Pipeline: Github" which is a bit confusing I agree.

[2020-04-21 18:32] bpoland opened #79 "Update commit status outside pull request"
Does anyone know if there's a way to update a commit status when not building a pull request?

Our deployment infrastructure uses the commit status on master to determine whether it's safe to deploy.  We're using https://github.com/jenkinsci/pipeline-githubnotify-step-plugin to do that right now but it would be nice to only use one plugin :)

[2020-05-06 00:53] jsok opened #80 "Support comment hiding"
GitHub allows you to hide a comment (with a reason), e.g.:

![Screen Shot 2020-05-06 at 10 51 42 am](https://user-images.githubusercontent.com/737907/81129440-a92ee080-8f87-11ea-8207-b201f414dc78.png)

This is useful since you may not want to readily see old comments, but also don't want to delete them (since they may be useful to reference later).

[2020-05-09 10:31] aaronjwhiteside commented on #80
Great suggestion!

[2020-05-09 10:43] aaronjwhiteside commented on #79
This would fit in great with the idea of representing the entire `repository` and current `branch` as groovy objects... just like `pullRequest` is done now.

[2020-05-09 10:45] aaronjwhiteside commented on #58
Fixed by https://github.com/jenkinsci/pipeline-github-plugin/pull/77

[2020-05-09 10:45] #58 closed

[2020-05-15 20:18] enummela opened #81 "pullRequest.review not permitted"
We are using version `2.5` of this plugin. It looks like the `review` method has been available (and whitelisted) [since 2018](https://github.com/jenkinsci/pipeline-github-plugin/commit/cf1794f9d4c9aeab74f7294939fcd2032c492aed#diff-62d53aad20d3b20639018db6a092cbfc). Any help with this would be much appreciated!

Here is the relevant part of the pipeline:

[code]

This is from the pipeline log:

[c

[2020-05-18 02:28] rangarb opened #82 "Error on creating createTeamReviewRequests"
Hi there,
When I try to add team review requests to a PR with code like:

pullRequest.createTeamReviewRequests(['johanek-team'])

It fails as below .
I am using pipeline-github-2.5 with Jenkins https://www.jenkins.io/changelog-stable/#v2.204.3

[code]
Thanks for your plugin. Its very useful!

[2020-05-19 21:17] sboardwell commented on #21
@manthanhd @aaronjwhiteside - sorry for hijacking this PR but my question relates to the #37 PR above as well as others.

Who can I speak to about having another release created for this plugin? There have been a number of nice improvements since Feb 2019 but unfortunately no release.

[2020-05-21 08:52] johncblandii opened #83 "Release 0.26.x"
The environment variables are in a version > 0.25. Can we get the next release issued?

https://github.com/jenkinsci/pipeline-github-plugin#environment-variables.

[2020-05-22 22:08] johncblandii commented on #49
Can we reopen this? I think there is a need for a change here.

`/deploy|/retest` is mixing regex here. I can use `|` in the regex so parsing my command to see what command was used becomes a problem.

What I'm trying to do is use the trigger pattern as the regex parser to get all of my groups, etc out of it. If I have a `|` in there (which is a valid regex), it doesn't parse the groups out as exp

[2020-06-30 20:31] johncblandii commented on #83
![gif](https://media.giphy.com/media/vHwGAMZfWj3mU/giphy.gif)

[2020-07-04 12:02] aaronjwhiteside commented on #83
It's coming, I'm just sorting out issues with my jenkins-ci account

[2020-07-06 14:01] aaronjwhiteside commented on #83
2.7 is out! I thank everyone for their patience!

[2020-07-06 14:01] #83 closed

[2020-07-10 12:00] cibergarri commented on #81
same with the signature (Coment, body)
and if you give permissions for unsafe script (in scriptApproval) you get this new error:
`groovy.lang.MissingMethodException: No signature of method: org.jenkinsci.plugins.pipeline.github.PullRequestGroovyObject.review() is applicable for argument types: (java.lang.String, java.lang.String)`

[2020-08-07 15:59] jhohertz opened #84 "issueCommentTrigger not working in some configurations"
Background: I am building out a new pipeline-library+github org w/ source branch plugin setup to migrate to... from a ghprb+manual pipeline jobs setup. The former has been developed in isolation of our Jenkins setup, and when bringing it over to our main Jenkins installation, for some reason the issueCommentTrigger silently fails to work.

I had initially suspected that somehow the ghprb plugin wa

[2020-08-18 12:09] nishaprayaga commented on #33
Hi Guys,

@aaronjwhiteside aaronjwhiteside
@staffanselander
so did anyone ran pullRequest.comment() successfully or not, because I am also facing the issue as mentioned above.

[2020-08-18 17:17] nishaprayaga opened #85 "groovy.lang.MissingPropertyException: No such property: pullRequest for class: groovy.lang.Binding"
I am continuously getting below error when I try including pullRequest.comment in my jenkinsfile.

I have branch source plugin installed, Pipeline:github plugin installed.

node{

  stages {
    stage('Test') {
      when { changeRequest() }
      steps {
        script {
          echo "Current Pull Request ID: ${env.CHANGE_ID}"
        }
      }
    }
    stage('Test2') {
      steps {
        s

[2020-09-01 16:33] jhohertz opened #86 "review related methods are not working"
Trying to access any of the review/reviewRequest information consistently results in:

[code]

I'm guessing there was an API change on GitHub's end that needs to be reflected? There is discussion in #45 after it was closed about this.

[2020-09-13 00:21] missedone opened #87 "feature request: add pipeline func for creating deployment"
could you add a func for creating deployment with calling the github deployment api: https://developer.github.com/v3/repos/deployments/#create-a-deployment

[2020-09-13 11:50] tbarda opened #88 "pullRequest.reviewComment method is broken with ' line required and an integer greater than zero'"
Getting `org.eclipse.egit.github.core.client.RequestException: Validation Failed (422): line required and an integer greater than zero`
The method documentation has a lineNumber parameter (https://github.com/jenkinsci/pipeline-github-plugin#adding-a-review-comment)
![image](https://user-images.githubusercontent.com/54764308/93017327-671a4900-f5d0-11ea-8acb-ab47ba6b8c58.png)

 while [the code](http

[2020-09-14 05:13] blundercon commented on #79
Is someone working on this ? This would be a pretty handy feature. Currently, the options to interact with Github's APIs are kind of limited in the sense that we'd need install multiple plugins.

[2020-10-04 01:05] jhohertz commented on #84
I have finally had a chance to trace this down. It was insidious, and ended up being a case handling thing.

GitHub is generally case-insensitive regarding names, and the difference between where it worked and did not, ended up being which had correctly expressed it, ignoring also a "Display Name" that used the opposite capitalisation, which confused matters a little. Once I saw this through build

[2020-10-29 15:04] dclayton-godaddy opened #91 "GitHub Event Trigger"
I'd love to submit a PR to create a GitHubEventTrigger to allow all events to be captured in pipeline. All events sent to the master can cause a build to be triggered if the pipeline has `githubEventTrigger` with the event name and a `payloadFilter`. This will save us from having to continuously update this plugin for future supported events of GitHub.

[code]

or

[code]

[2020-10-29 15:14] dclayton-godaddy commented on #91
Before I get started, I want to make sure this is something that has an opportunity to get merged.

[2020-11-05 10:48] paschdan commented on #91
I'd love this.

because with the current implementation, we have to define multiple Cause Objects, to find out, what has triggered the job:

[code]

for backwards ability you have to add the `githubEventTrigger` additionally to the existing triggers.

for the githubEventTriggerCause, i would suggest, that it should have the github events public properties (https://developer.github.com/v3/activity/

[2020-11-05 20:49] dclayton-godaddy commented on #91
Sweet! We'll look at submitting a PR on this. You think it will get approved if it has unit tests, etc? Not a fan of maintaining forks as I've had with many other plugins.

[2020-11-05 21:49] paschdan commented on #91
Sorry for the confusion, I'm no maintainer, was just giving my 2 ct :)

[2020-11-05 23:29] dclayton-godaddy commented on #91
Sure. I was asking because you had successful commits. :)

[2020-11-06 08:56] paschdan commented on #91
hehe, ok, @aaronjwhiteside was kind of fast in merging the PRs, and @aaronwalker did the main work for the latest trigger

[2020-11-06 10:18] aaronwalker commented on #91
@dclayton-godaddy had exactly the same thought while implementing the PR review trigger. Happy to test and provide feedback and also work to get it merged as quickly as possible.

[2020-11-17 11:27] georgiee commented on #66
@ababushk your note about using the Script Console helped spotting the issue as we only have the Jenkins HTTP proxy settings enabled in the UI without passing the properties to JVM. I could confirm it by using the script console. Without the proxy the Plugin fails hard as the Github API is behind a authorization tenant that will return a website to login. Further debugging? Almost not possible as

[2020-11-20 11:45] georgiee commented on #66
FYI there is a PR now pending fixing exactly this issue and make the plugin aware of the jenkins proxy settings 💪 It's already linked to this issues https://github.com/jenkinsci/pipeline-github-plugin/pull/92

[2020-12-09 19:21] thorntonryan opened #95 "Question: Is it possible to configure this plugin on GitHub Organization using Job DSL?"
Hello,

According to the [doc](https://github.com/jenkinsci/pipeline-github-plugin#prerequisites) it looks like this plugin should be compatible with a GitHub Organization Folder ... somehow.

The Job DSL API viewer installed on my Jenkins instance dynamically detected the `issueCommentTrigger` and seems to think I can configure the plugin by adding it to my org underneath the `triggers` section:

[2020-12-27 16:48] okeren-cx commented on #70
@DaveHewy Did you manage to find out why it returned 404?
This is also happening, using a working user + access token, but the Plugin always returns 404

[2020-12-28 05:06] aaronjwhiteside commented on #70
Might be an experimental api that was removed

[2020-12-29 18:33] blundercon commented on #91
Not sure what the status or progress here is. I can help out with this as well.

[2020-12-29 18:35] dclayton-godaddy commented on #91
Hi all. Sorry, been super busy. I haven't started if someone else has the time. We've started looking at the Checks API plugin to handle checks which was one of the use-cases we wanted.

[2021-01-11 05:45] #88 closed

[2021-01-29 17:09] #85 closed

[2021-02-11 15:01] allout58 commented on #72
Maybe this should be closed in favor of the more general enhancement by #91?

[2021-02-11 15:16] allout58 opened #96 "pullRequestReview Trigger Not Available"
I am not able to use the `pullRequestReview` trigger with v2.7 installed.

With the trigger

[code]

I get the following errors trying to start the job
[code]

I can see the issueCommentTrigger, but not the pullRequestReview trigger.

[2021-03-04 17:29] victtsl commented on #10
It worked on my Jenkins installation is using both GHPRB plugin and pipeline-github-plugin. I created a Github Org project and using sample Jenkinsfile from stefan-dimitrov and then I created a logger for GitHub in https://<JENKINS_URL>/log/ including:

- hudson.plugins.git.GitStatus ALL
- com.cloudbees.jenkins.GitHubWebHook - ALL
- org.jenkinsci.plugins.github.- ALL

Tested it by adding comments

[2021-04-29 03:52] nishwalshetty commented on #10
hey All,
 i just want to know if i can re trigger only one stage of declarative pipeline ? does jenkins support this feature ?
lets say i comment the "stagename" in source control tool and jenkins would trigger only that stage ?

[2021-05-04 14:47] NFollett89 commented on #95
We're seeing this problem with multi-branch Pipelines
[code]

 Error:

This is very problematic because our `Jenkinsfile` sets a comment pattern it will trigger to, which is injected into the job configuration on the first run, but if we re-run our Job DSL pipeline to update/populate jobs, it will break the triggering on any GitHub Pull Requests we have open.

[2021-05-20 18:29] meetmangukiya opened #98 "Configure whether UNSTABLE builds should mark commit status as failed or not"
### Feature Request

Currently, I think the case is that if the tests reported have more than one failures, the buildResult gets set to UNSTABLE which is expected behavior. However, the current behavior seems to be that UNSTABLE builds mark the commit status as failed which I don't think is completely in line with the idea of UNSTABLE, UNSTABLE should be tolerable, test failures should be tolerabl

[2021-06-02 18:05] meetmangukiya commented on #98
This is not the correct plugin. https://github.com/jenkinsci/github-branch-source-plugin is where setting of github commit status happens. I have created an extension that overrides the default behavior to allow marking unstable builds as success - https://github.com/meetmangukiya/github-scm-trait-notification-context-unstable-commit-plugin

[2021-06-02 18:05] #98 closed

[2021-06-11 16:14] renanqts commented on #95
Faced with the same issue using multibranchPipelineJob :(

[2021-07-05 17:36] ebadilla10 opened #99 "Get the SHA of target master used"
### Feature Request
I'd like to get the SHA of the target branch on a variable.
Why? Because some checkers will run over the branch created + target branch (pr-merge) against target branch, so if any commit is added between the analysis on them, we would have checking different SHAs (SHA1 when the checker started against SHA2 which is a commit merged when the checker was running)

If you give me s

[2021-07-14 10:52] gabpil45 opened #100 "Release Process Fails"
### Reproduction steps

- Automatic release triggers

### Results

Expected result:

- GH Actions to finish without errors

Actual result:

- GH Actions fails on multiple spotbug checks
   https://github.com/jenkinsci/pipeline-github-plugin/runs/2970551618?check_suite_focus=true#step:4:176

[2021-08-04 19:24] jhohertz commented on #86
Just noting the error is now more detailed. Also, Is this plugin actively maintained?

[code]

[2021-08-19 14:03] alexbde commented on #96
Same here! Any update on this?

[2021-08-24 17:13] JFLarvoire opened #101 "Connection timed out Exception when accessing the pullRequest variable"
The pullRequest variable used in our Jenkinsfiles used to work fine until July 28th.
Since July 29th, any attempt at using members or methods of that variable results in a "Connection timed out" Exception.
That even when reading simple object members like pullRequest.id.
Yet everything else works in our Jenkins builds. Jenkins successfully pulls code from our github server, which in turn successfu

[2021-08-31 15:21] ponsuyambu opened #102 "pullRequest.setCredentials("username","password") is not working as intended"
### Version report

Jenkins and plugins versions report:

[code]

- What Operating System are you using (both controller, and any agents involved in the problem)?

[code]

### Reproduction steps

Calling `pullRequest.setCredentials("username","password")` does not have any effect. It still uses the credentials configured from the organisation.

I have properly invoked the above method before using

[2021-09-06 07:36] pgAdmin commented on #96
@aaronwalker ^

[2021-09-06 14:24] aaronwalker commented on #101
@JFLarvoire did the you change the version of the plugin between that time? Also how are you authenticating against github. Are you using PAT or github oauth

[2021-09-06 14:47] aaronwalker commented on #95
@thorntonryan @NFollett89 @renanqts currently we don't support the JobDSL directly. You can try using the Configure block https://github.com/jenkinsci/job-dsl-plugin/blob/master/docs/The-Configure-Block.md

This is something we might add in the future though so I'll mark the as an enhancement. Also PRs welcome :)

[2021-09-06 19:49] JFLarvoire commented on #101
No, it's not been changed.

We're authenticating using a personal access token.
It's not been changed recently, and the same toke is used for pulling the code from github.

[2021-09-08 10:40] aaronwalker commented on #101
@JFLarvoire are you using a hosted github enterprise or self hosted?

[2021-09-08 10:54] aaronwalker commented on #99
@ebadilla10 I think this feature belongs in another plugin it would make more sense for this to be part of the https://github.com/jenkinsci/branch-api-plugin since it responsible for injecting the CHANGE_* environment variables

[2021-09-08 10:54] #99 closed

[2021-09-08 11:10] aaronwalker commented on #96
@allout58 @alexbde @pgAdmin I will push out a 2.8 release as soon as I am able to. Currently releases are disabled for all plugins due to a security event https://www.jenkins.io/blog/2021/09/04/wiki-attacked/

[2021-09-08 12:06] JFLarvoire commented on #101
It's github enterprise. (github.hpe.com , accessible only internally within hpe.)

[2021-09-08 13:04] aaronwalker commented on #102
@ponsuyambu have you tried calling pullRequest.refresh() after the setCredentials?

[2021-09-08 13:09] aaronwalker commented on #101
@JFLarvoire I'm not able to reproduce the error as I don't have access to a self hosted Github Enterprise but I have tested it against managed Github Enterprise. You could try a pre-release of 2.8 which you can download from here https://repo.jenkins-ci.org/incrementals/org/jenkins-ci/plugins/pipeline-github/2.8-134.4da108752a5e/pipeline-github-2.8-134.4da108752a5e.hpi

[2021-09-08 16:04] ponsuyambu commented on #102
@aaronwalker Yes, I called refresh as well. It didn't work. When I saw the source code, I noticed that refresh is not re-initiating the GitHub client instance.

[2021-09-09 16:30] pgAdmin commented on #96
Meanwhile I am using the master branch directly in my Jenkins server and it is working fine.

[2021-09-13 13:44] aaronwalker commented on #100
fixed release process https://repo.jenkins-ci.org/releases/org/jenkins-ci/plugins/pipeline-github/2.8-138.d766e30bb08b/

[2021-09-13 13:44] #100 closed

[2021-09-13 13:45] aaronwalker commented on #96
Closing as releases now enabled again and release https://github.com/jenkinsci/pipeline-github-plugin/releases/tag/2.8-138.d766e30bb08b is now available

[2021-09-13 13:45] #96 closed

[2021-09-13 13:47] aaronwalker commented on #101
@JFLarvoire Release https://github.com/jenkinsci/pipeline-github-plugin/releases/tag/2.8-138.d766e30bb08b is now available are you able to confirm you still have the same issue?

[2021-09-13 13:47] #101 closed

[2021-09-13 14:18] aaronwalker commented on #21
closing with release https://github.com/jenkinsci/pipeline-github-plugin/releases/tag/2.8-138.d766e30bb08b

[2021-09-13 14:23] aaronwalker commented on #62
The use of GitHub App Auth works and has been tested in https://github.com/jenkinsci/pipeline-github-plugin/releases/tag/2.8-138.d766e30bb08b as is the GitHub preferred auth mechanism

[2021-09-13 14:23] #62 closed

[2021-09-13 14:24] aaronwalker commented on #67
release in https://github.com/jenkinsci/pipeline-github-plugin/releases/tag/2.8-138.d766e30bb08b

[2021-09-13 14:24] #67 closed

[2021-09-13 14:26] aaronwalker commented on #84
@jhohertz this is fixed in  this release https://github.com/jenkinsci/pipeline-github-plugin/releases/tag/2.8-138.d766e30bb08b

[2021-09-13 14:26] #84 closed

[2021-09-13 14:53] JFLarvoire commented on #101
I just upgraded Jenkins and the pipeline: github plugin, and the problem is still there.
Please reopen the case.

[2021-09-13 15:16] JFLarvoire commented on #101
And I still have the same questions as in the opening message:

Where does the pipeline: github plugin gets its github API URL and credentials from?
(The plugin does not seem to have any setting in the global or project configuration.)

How can we get more information about what's going on under the hood, leading to that timeout?

Is there a way to enable logging, to get more information about wha

[2021-09-13 15:47] aaronwalker commented on #101
@JFLarvoire it gets the creds from the Jenkins job itself along with the github api endpoint as since it was working previously then it most likely an environmental issue. I would suggest doing a tcpdump from the jenkins agent and inspecting the traffic to confirm its trying to contact the correct api endpoint.

[2021-09-16 06:50] andrey-hura opened #104 "The handleIssueComment handler stopped working after GH chaged required permissions to fetch collaborators"
### Version report

Jenkins and plugins versions report:

[code]

- What Operating System are you using (both controller, and any agents involved in the problem)?

[code]

### Reproduction steps

- Configure a GH organization folder to use a token with repository write permissions
- Create A PR and run a build with a PR phrase

### Results

Expected result:
A build is started by the phrase

Actual

[2021-09-16 09:07] andrey-hura commented on #104
I would use contributors at least

[2021-09-16 09:13] aaronwalker commented on #104
@andrey-hura so you had user who are outside contributors and this was working up until the API change, correct?

[2021-09-16 10:27] andrey-hura commented on #104
Not really. For my GH organization folder, I use a token with repo (write permissions) scope, that was generated from a collaborator user. Everything was working well until GH decided to change the required permissions to fetch data from the repo/collaborators endpoint from write to admin. The pipeline-github-plugin can not fetch collaborators list anymore (using my collaborator user permissions),

[2021-09-16 10:31] andrey-hura commented on #104
The issue can be fixed by granting our token the admin permissions, but it is not safe (we don't want our jenkins to be able to change repository settings) and it is not an option in our case.

I can update this request to be a feature request if it is prefarable.

[2021-09-16 11:34] aaronwalker commented on #104
@andrey-hura have you tried switch to github app auth credentials which doesn't have this limitation and also has the added benefit of not being tied to a user https://www.jenkins.io/blog/2020/04/16/github-app-authentication/

I can look into what can be done

[2021-09-16 11:47] andrey-hura commented on #104
thank you for the suggestion, but apps is not a case for us either

[2021-09-16 11:51] andrey-hura commented on #104
could it be configurable?:
`issueCommentTrigger(regex: "(?sm)^${phraseRegex}.*", allowNonCollaborators: true)`
with allowNonCollaborators defaulting to false.

[2021-09-16 13:49] aaronwalker commented on #104
@andrey-hura not a bad Idea.... I'll take a look but PRs also welcome :)

[2021-09-22 10:03] aaronwalker commented on #104
@andrey-hura with the github API change it actually creates an opportunity to provide a way to allow people access to a repo but not automatically giving them access to trigger jobs via comments or PR approval. What about the idea of configurable allow and deny lists. Which could be either users or teams. There could be a global config or be overridden at the trigger level

Thoughts?

[2021-09-22 11:24] aaronwalker commented on #104
@andrey-hura are you able to share a screenshot of the permissions you set for the token as I'm not able to replicate the issue

[2021-09-23 14:54] shadamik opened #105 "files of a commit are not available"
### Version report

Jenkins and plugins versions report:

[code]

- What Operating System are you using (both controller, and any agents involved in the problem)?

[code]

### Reproduction steps

- use github UI to put the following content to Jenkinsfile
[code]
- Create pull request and find the following console output

### Results

Expected result:

- files.size() should be 1
- Jenkinsfile shou

[2021-11-03 17:34] almiroshnich commented on #104
Sorry for the long silence here...
I work with @andrey-hura and created a GitHub support ticket on that date. Their answer:

The rollback is happening soon and should be available later today.
Please accept our apologies for the inconvenience.

So the reported _regression_ with the _collaborators_ endpoint started to work again somewhere during the 16-17th of September.

I think it still makes sen

[2022-01-14 11:35] gabpil45 opened #106 "Version 2.8-138.d766e30bb08b fails on pullRequest.reviewComment with Missing required 'pull_request_review_thread.diff_hunk'"
### Jenkins and plugins versions report

2.8-138.d766e30bb08b
Latest
on 13 Sep 2021

Version 2.8-138.d766e30bb08b fails on pullRequest.reviewComment with  Missing required 'pull_request_review_thread.diff_hunk'

Error
[code]

### What Operating System are you using (both controller, and any agents involved in the problem)?

Linux

### Reproduction steps

1. send a comment to Github Enterprise (Git

[2022-02-09 22:30] cjoyv opened #107 "issueCommentTrigger not working when collaborator is part of GitHub Teams"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Linux

### Reproduction steps

issueCommentTrigger not working when collaborator is part of GitHub Teams added to the repo

### Expected Results

It should consider the members of a team when loo

[2022-02-18 19:46] ricochet1k opened #108 "Please print Github JSON on errors"
### What feature do you want to see added?

I've been trying to get pullRequest merging working properly, but All I get is very short and unhelpful error messages like this:
[code]

What I would like to see is something like this either added to the Exception or logged to the job's Console Output:
[code]
That is the error message I got from manually going through the Github App JWT/Installation To

[2022-03-01 13:20] emas80 commented on #107
I had the same problem after switching from using a Github token to using a Github App.

I have solved it by adding one more permission to my app - the Administration Read Only

![image](https://user-images.githubusercontent.com/2953749/156176271-06b8380b-ba37-4c10-90f9-75d2badd254f.png)

The plugin can now read correctly the permissions the user has on the repo.

[2022-03-01 20:41] cjoyv commented on #107
I think my issue is with plugin doesn't supporting Team membership. When a GitHub team is given access to the repo, all of its members gets that access. If collaborator is part of a team with Admin access, the plugin gives an error saying **"cjoyv is not a collaborator, and is therefore not authorized to trigger a build"**

[2022-03-21 18:12] shadycuz opened #109 "How am I supposed to commit or push"
### Describe your use-case which is not covered by existing documentation.

I would like to be able to create tags and push them. This is something that used to work when using a normal multibranch pipeline which uses git polling to create a build per branch.

We have switched to this plugin to create a build per PR and it has a lot of nice features.

But now we can not create tags or interact wit

[2022-05-20 07:14] 4sachi opened #110 "Duplicate comments showing up in pull request page"
### Jenkins and plugins versions report

I am using the `pullRequest.comment("comment")` method to add a comment on the GitHub PR page. From the Jenkins side I am only calling this method once during the build, but on the GitHub side it is adding same comment two times. I have added the output on the "Actual Results" section.

I have also printed the comment id from the Jenkins, and compared the c

[2022-05-27 12:01] xocasdashdash commented on #107
Hi there!
We're hitting the same issue someone on this ticket and from here it seems to happen too https://github.com/jenkinsci/pipeline-github-plugin/issues/104#issuecomment-920833823

Seems like the way the underlying library fetches collaborators is not team membership friendly. Could we add a flag to disable it as suggested? Another approach could be to implement the flow "correctly", check th

[2022-06-06 21:33] nick-tripp commented on #107
I'm also experiencing this issue in my org - definitely seems like good bug to fix

[2022-06-06 21:39] xocasdashdash commented on #107
My PR #111 fixes it, but not sure how much time it's going to take to get this merged 😕

[2022-06-16 10:14] kutzi commented on #55
I'm seeing a similar issue:
[code]

Not really good reproducable. Happens from time to time, but I didn't yet recognise a pattern
Will check if @NonCPS fixes it.

[2022-06-22 11:00] Yethal opened #112 "Unable to merge Pull Request that has Jenkins pipeline as status check"
### Jenkins and plugins versions report

not relevant

### What Operating System are you using (both controller, and any agents involved in the problem)?

not relevant

### Reproduction steps

1. Create github repo with Jenkins pipeline as required status check
2. Add Jenkins pipeline to the repo
3. In post success block of the pipeline add pullRequest.merge step
4. Run the pipeline

### Expected

[2022-07-05 01:00] snorlaX-sleeps commented on #107
I wonder if there is anyone we could tag for your PR @xocasdashdash - the fix listed above (add more app permissions) doesn't work when using teams, the user has to be directly added to the repo which wouldn't work in my use-case

[2022-07-15 15:57] roDew opened #113 "Individual "not" conditions seem to have different beahviour than grouping it"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

...

### Reproduction steps

Hi guys,

I'm creating a pipeline that has a condition like that:

[code]

### Expected Results

I would expect that my method is executed when the branch is not rele

[2022-07-15 16:21] #113 closed

[2022-07-15 16:21] roDew commented on #113
Wrong repo, sorry

[2022-07-18 18:22] aRobinson-R7 opened #114 "`pullRequest.deleteBranch()` method failing with error: `java.lang.IllegalArgumentException: Job's SCM is not GitHub`"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Kubernetes, version listed above

### Reproduction steps

1. Work with PR in previous stages
2. Merge PR with this plugin `pullRequest.merge("")`
3. Create a commit on the main branch with CHANGE

[2022-07-22 10:34] aRobinson-R7 commented on #114
This may be due to the time between the merge and the delete - moving them beside one another in the Jenkinsfile seems to have resolved the issue

[2022-08-26 08:50] farman022 commented on #39
How can we assign `pullRequest.getLabels()` to a variables? Actually I want to run script basis on labels to PR.

[2022-08-26 18:20] #114 closed

[2022-09-21 06:58] tamilselvanmp commented on #60
Any update on this?

[2022-10-12 09:03] xocasdashdash commented on #107
@snorlaX-sleeps in the PR #111 Aaron posted a link to test it out, if you can validate the plugin we can probably get this merged soon!

[2022-10-21 18:10] stephanvd-thedelta commented on #63
https://docs.github.com/en/rest/pulls/pulls#list-commits-on-a-pull-request